<div ng-controller="countriesCtrl">
   <section id="climate-in" ng-init="initCountriesList()">
      <div class="container">
         <h2 ng-bind="pageContent.countries"></h2>
         <div ng-repeat="letter in countriesList" style="clear: both; margin: 10px 10px 10px 0">
            <h2 style="font-size: 15px;">{{letter[0].name.charAt(0)}}</h2>
            <ul  style="display: block">
               <li ng-repeat="country in letter">
                  <span class="country search-text1 destination1" ><a href="/{{currentCountryCode}}/countries/{{country.asciiName}}" style="text-decoration: none; color: #484E4F; outline: none;">{{country.name}}</a></span>
               </li>
            </ul>
         </div>
      </div>
   </section>
   <!-- end coordinates -->
</div>