<div ng-controller="countriesCtrl">
   <section id="climate-in" ng-init="initSelectedCountry()">
      <div class="container">
         <h2 ng-bind="selectedCountry.name"></h2>
         <div style="clear: both; margin: 10px 10px 10px 0">
            <div class="glance-row">
               <div class="glance-left">Phone code: {{selectedCountry.phone}}</div>
            </div>
            <div class="glance-row">
               <div class="glance-left">Currency: {{selectedCountry.currencyCode}}</div>
            </div>
            <div class="glance-row">
               <div class="glance-left">Capital: {{selectedCountry.capital.name}}</div>
            </div>
            <div class="glance-row" style="border-bottom: 0!important;">
               <div class="glance-left">Largest cities:</div>
               <br>
               <br>
               <br>
               <br>
               <br>
               <div style="display: block; margin: 20px 10px 10px 0">
                  <ul  style="display: block; margin-top: 20px;">
                     <li  ng-repeat="city in selectedCountry.largestCities">
                        <span class="country2 search-text1 destination1" ><a href="/{{currentCountryCode}}/weather/{{city.name}}_{{city.countryCode}}" style="text-decoration: none; color: #484E4F; outline: none;">{{city.name}}</a></span>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end coordinates -->
</div>