<div ng-controller="outlookCtrl">
    <div class="container section-margin-top">
        <div class="wrapper">
            <div class="page-content">
                <section id="weekly-report" ng-include="'templates/weekly-report.html'" ng-if = "outTable=='enTable'"></section>
                <section id="weekly-repor" ng-include="'templates/weekly-report-slav.html'" ng-if = "outTable=='slavTable'">
                </section><!-- end weeekly-report -->
            </div><!-- end page-content -->
            <aside class="sidebar" style="padding-top: 35px">
                <!-- <div class="ad300-520 mob-hide"></div> -->
                <img src="https://placehold.it/300x600" alt="alt" class="mob-hide">
                <img src="https://placehold.it/300x250" alt="alt" class="top20px">
            </aside>
        </div><!-- end wrapper -->
    </div><!-- end container -->

    <div ng-include="'templates/graphic.html'"></div>

    <div class="container section-margin-top">
        <div class="wrapper">
            <div ng-include="'templates/wth_glance.html'" class="page-content"></div>

            <aside class="sidebar top35px">
                <!-- OLD -->
                <!-- <div class="ad300-600 mob-hide"></div> -->
                <!-- <div class="ad300-250 top20px"></div> -->

                <!-- NEW -->
                <img src="https://placehold.it/300x600" alt="alt" class="mob-hide">
                <!--<img src="https://placehold.it/300x250" alt="alt" class="top20px">-->
            </aside>
        </div><!-- end wrapper -->
    </div><!-- end container -->

</div>
